.aboutSection {
    height: 60vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.aboutSection p {
    text-indent: 40px;
}

.aboutPod {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.aboutPod h3, ul {
    align-self: center;
    list-style: none;
}

.skillsPod{
        display: grid;
        grid-template-columns: repeat(3,1fr);
}
.skillsPod li {
    padding: 5px;
}
.skillsPod img {
    padding: 5px;
    max-height: 10vh;
    align-self: center;
    margin: auto;
}